# VoIP.ms settings
[voicemail]
api_username = xxxapiusernamexxx
api_password = xxapipasswordxxx
mailbox = 1234567890

# output directories
[site]
document_path = _messages
audio_path = messages

# all values here will be added to front matter
[document]
published = true
memo = New

# audio conversion settings
[audio]
# see https://trac.ffmpeg.org/wiki/Encode/MP3
mp3_profile = 9
# see https://ffmpeg.org/ffmpeg-filters.html
filters = anull
