
// site layout
.base {
    position: relative;
    max-width: $column-width;
    margin: 0 auto;
    padding: $wide-gap;

    &-noscript {
        position: absolute;
        top: $medium-gap;
        right: $medium-gap;
        //bottom: $medium-gap;
        left: $medium-gap;
        padding: $wide-gap;

        color: $error-color;
        background: $error-bg-color;

        font-family: $code-font-family;
        font-size: $code-font-size;
        font-weight: bold;
        text-align: center;

        @include outset-border;
    }
    &-window {
        background-color: $window-bg-color;
        margin-bottom: $narrow-gap;
        padding: $narrow-gap;
        @include outset-border;
    }
    &-title {
        color: $window-title-color;
        background: url("controls.gif") $window-title-bar-color;
        background-position: top $narrow-gap right $narrow-gap;
        background-repeat: no-repeat;
        height: 14px;
        padding: $narrow-gap;
        font-weight: bold;
    }

    &-header {
    }

    &-body {
        margin: $narrow-gap 0;
    }

    &-footer {
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
        gap: $narrow-gap;
    }
    &-footer-link {
        color: $meta-color;
    }
    &-notice, &-counter {
        flex: 1 1 auto;
        padding: $narrow-gap;
        @include inset-border;
    }
    &-notice {

    }
    &-counter {

    }
}
