// site layout
.base {
    position: relative;
    box-sizing: border-box;
    max-width: 2 * $wide-gap + $column-width;
    min-height: 2 * $wide-gap + $column-height;
    margin: 0 auto;
    padding: $wide-gap;

    &-noscript {
        position: absolute;
        top: $medium-gap;
        right: $medium-gap;
        //bottom: $medium-gap;
        left: $medium-gap;
        padding: $wide-gap;

        color: $error-color;
        background: $error-bg-color;

        font-family: $code-font-family;
        font-size: $code-font-size;
        font-weight: bold;
        text-align: center;

        @include outset-border;
    }
    &-window {
        display: flex;
        flex-flow: column nowrap;
        background-color: $window-bg-color;
        box-sizing: border-box;
        max-height: 100%;
        padding: $narrow-gap;
        @include outset-border;
    }
    &-title {
        color: $window-title-color;
        background: url("controls.gif") $window-title-bar-color;
        background-position: top $narrow-gap right $narrow-gap;
        background-repeat: no-repeat;
        height: 14px;
        padding: $narrow-gap;
        font-weight: bold;
    }

    &-header {
        flex: none;
    }

    &-body {
        flex: 1 1 auto;
        min-height: 0;
        display: flex;
        flex-flow: column nowrap;
    }

    &-footer {
        flex: none;
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
        gap: $narrow-gap;
    }
    &-footer-link {
        color: $meta-color;
    }
    &-notice, &-counter {
        flex: 1 1 auto;
        padding: $narrow-gap;
        @include inset-border;
    }
}
