.mailbox {
    display: flex;
    flex-flow: column nowrap;
    overflow: auto;

    &-number {
        flex: none;
        display: block;
        margin: $wide-gap auto;
        text-align: center;
    }
    &-image {
        max-width: 100%;
    }

    &-marquee {
        flex: 1 1 auto;
        height: 48px;
        margin: 0 $narrow-gap;
        background: url("marquee-bg.gif") $marquee-bg-color;
        font-size: 32px;
        line-height: 44px;
        @include inset-border;
    }
    &-letter {
        font-family: $code-font-family;
        @include party-text($marquee-colors, 2s, 3, 4px);
    }
    &-infobox {
        align-self: stretch;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        gap: $medium-gap;
        padding: $medium-gap;
        @include inset-border;
    }
    &-state {
        $state-size: 20px;
        width: $state-size;
        height: $state-size;
        background-color: $inner-bg-color;
        background-repeat: no-repeat;
        background-position: center;
        @include inset-border;

        &.loading { background-image: url("loading.gif"); }
        &.playing { background-image: url("playing.gif"); }
        &.paused { background-image: url("paused.gif"); }
        &.error { background-image: url("error.gif"); }
    }
    &-controls {
        flex: none;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: $narrow-gap;
        margin: 0 $narrow-gap $medium-gap;
    }
    &-state {
        margin-right: $medium-gap;
    }
    &-seek {
        flex: 1 0 auto;
    }
    &-prev, &-stop, &-play, &-next {
        flex: 0 1 auto;
        width: 100%;
        min-width: $input-height;
        max-width: 2 * $input-height;
        padding: $narrow-gap;
        background-repeat: no-repeat;
        background-position: center;
    }
    &-prev {
        background-image: url("prev.gif");
        &:disabled { background-image: url("prev-disabled.gif"); }
    }
    &-stop {
        background-image: url("stop.gif");
        &:disabled { background-image: url("stop-disabled.gif"); }
    }
    &-play {
        background-image: url("play.gif");
        &:disabled { background-image: url("play-disabled.gif"); }
        &.playing { background-image: url("pause.gif"); }
    }
    &-next {
        background-image: url("next.gif");
        &:disabled { background-image: url("next-disabled.gif"); }
    }
    &-mute {
        flex: none;
        width: $input-height;
        padding: $narrow-gap;
        background-repeat: no-repeat;
        background-position: center;

        background-image: url("mute.gif");
        &:disabled { background-image: url("mute-disabled.gif"); }
        &.muted { background-image: url("unmute.gif"); }
    }
    &-volume {
        flex: 0 1 auto;
        width: 100%;
        min-width: 60px;
        max-width: 120px;
        padding: $narrow-gap;
    }
    &-spacer {
        flex: 1 1 0;
    }

    &-header-narrow {
        width: 0;
    }
    &-messages {
        flex: 1 1 auto;
        margin-bottom: $narrow-gap;
        white-space: nowrap;
        scroll-padding-top: 24px;
        @include scroll-wrapper;
        @include inset-border;
    }
    &-header {
        position: sticky;
        top: 0;
    }
}
