{%- comment -%}
    Base HTML document and root site markup

    Parameters:
        page.title: page title
        page.no_title: if true omit page title from title tag
        page.marquee: if present this will be used as a page description
    Configuration:
        site.data.site.charset: charset of site, ex: utf-8
        site.data.site.locale: locale of site, ex: en_US
        site.data.site.title: site title placed in head>title tag
        site.data.site.owner: name of site owner
        site.data.site.email: email address of site owner
        site.data.site.neocities: neocities site name
        site.data.site.api_url: URL of site API
{%- endcomment -%}

{%- assign _description = page.marquee -%}
{%- unless _description -%}
    {%- assign _description = page.excerpt | strip_html | normalize_whitespace -%}
{%- endunless -%}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="{{ site.data.site.charset }}">
        <title>{% unless page.no_title %}{{ page.title | escape }} - {% endunless %}{{ site.data.site.title | escape }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=10.0" />
        <link rel="stylesheet" type="text/css" href="{% include static_url.fn filename='styles.css' %}" />
        <link rel="icon" type="image/x-icon" href="{% include static_url.fn filename='favicon.ico' %}" />
        <link rel="apple-touch-icon" type="image/gif" sizes="128x128" href="{% include static_url.fn filename='favicon-128.gif' %}" />
        <meta property="og:locale" content="{{ site.data.site.locale }}" />
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="{{ site.data.site.title | escape }}"/>
        <meta property="og:title" content="{{ page.title | escape }}" />
        <meta property="og:description" content="{{ _description | escape }}" />
        <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />
        <meta property="og:image" content="{%- include static_url.fn filename='cover.gif' -%}" />
    </head>
    <body class="base">
        <noscript class="base-noscript">This website uses JavaScript to play audio.<br/>Please enable scripting for the full experience.</noscript>
        <div class="base-window">
            <header class="base-header">
                <div class="base-title">{{ page.title | escape }}</div>
            </header>
            <div class="base-body">{{ content }}</div>
            <footer class="base-footer">
                <div class="base-notice">
                    <span>Site is <a href="{{ site.data.site.source_repo }}">open source</a>.</span>
                    <span>Contact <a href="mailto:{{ site.data.site.email }}">{{ site.data.site.owner }}</a> with questions.</span>
                </div>
                <div class="base-counter">Visitors: <a id="counter" href="https://neocities.org/site/{{ site.data.site.neocities }}"></a></div>
            </footer>
        </div>
        <script src="{% include static_url.fn filename='counter.js' %}"></script>
        <script>
            (function() {
                counter.init('#counter', function(digit) { return digit; },
                    '{{ site.data.site.api_url }}', '{{ site.data.site.neocities }}');
            })();
        </script>
    </body>
</html>
